<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color11">
    <ion-text>Wells' Score for DVT</ion-text>
  </ion-item>
  <ion-item class="color1">
    <ion-text>
      <p>1. The model should be applied only after a history and physical suggests that venous thromboembolism is a diagnostic possibility.</p>
      <p>2. Never do the D-dimer first before history and physical exam.</p>
      <p>3. Wells' Criteria were derived from a number of studies by Wells et al in an attempt to stratify risk of DVT in symptomatic outpatients.</p>
      <p>4. The Wells' Score is less useful in hospitalized patients.</p>
    </ion-text>
  </ion-item>
  <ion-item class="color11">
    <ion-text>DASH Score for VTE</ion-text>
  </ion-item>
  <ion-item class="color1">
    <ion-text>
      <p>1. The DASH Score is meant to be applied to stable patients. It should not be applied to patients with active hemorrhage or those with signs and symptoms of VTE.</p>
      <p>2. No decision rule should trump clinical gestalt. Consider the clinical scenario before continuing or discontinuing anticoagulation for VTE.</p>
      <p>3. Do NOT use in patients with active hemorrhage or signs/symptoms of VTE.</p>
    </ion-text>
  </ion-item>
</ion-content>
